@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  margin-right: auto;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

 /* Home Page */

 .Llama {
  margin-left: 1250px;
  margin-top: 225px;
  width: 15%;
  height: 15%;

}

.contact_btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.contact_btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  text-decoration: none;
}

.contact_btn:a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.homeabout_btn{
  display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.homeabout_btn:hover{
  background-color: rgba(0, 136, 169, 0.8);
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  text-decoration: none;
}

.homeabout_btn:a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.homeabout_btn{
  display: inline-block;
  background-color: #0088a9;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5rem;
  margin-top: -62px;
  margin-left: 645px;
}

a {
  text-decoration: none;
}

.homeabout_btn:hover {
  box-shadow: 0 10px 36px black;
}

.job_txt{
  margin-top: -200px;
  margin-left: 445px;
  font-size: 45px;
  color: white;
  font-family: "Montserrat", sans-serif;
}


.vert_txt{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  margin-top: -200px;
  margin-left: 450px;

}


.contact_btn {
  display: inline-block;
  background-color: #0088a9;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5rem;
  margin-top: 200px;
  margin-left: 445px;
}

a {
  text-decoration: none;
}

.contact_btn:hover {
  box-shadow: 0 10px 36px black;
}

 /* About Page */

.about_title{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 76px;
  font-weight: bold;
  margin-top: 500px;
  margin-left: 40%;
}

.about_info{
  color: #0088a9;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-top: 200px;
  align-items: center;
  margin: 50px;
}

.aboutbox_container {
  text-align: center;
  display: flex;
  justify-content: center;
}